# Samba Server Quadlet Container
[Unit]
Description=Samba Server starts SMB and NMB Container
After=network.target

[Container]
Image={{ samba_quadlet.name }}:{{ samba_quadlet.tag }}
Network=host
LogDriver=journald
Volume={{ __samba_server_path }}/smb.conf:/etc/samba/smb.conf:Z
Volume=/etc/samba/usershares.conf:/etc/samba/usershares.conf:Z
{% for share in samba_shares %}
Volume={{ share.path }}:{{ share.path }}:Z
{% endfor %}

[Install]
# Start by default on boot
WantedBy=network.target multi-user.target default.target
