#======================= Global Settings =====================================
# {{ ansible_managed }}

[global]
   workgroup = {{ samba_workgroup }}
{% if samba_protocol != "" %}
   client min protocol = {{ samba_protocol }}
   server min protocol = {{ samba_protocol }}
{% endif %}
   server string = {{ samba_server_string }}
   netbios name = {{ samba_netbios }}
   security = user
   map to guest = Bad User
   guest account = nobody
   passdb backend = tdbsam
{% if samba_all_printers %}
   load printers = yes
   cups options = raw
   printing = cups
   printcap name = /etc/printcap
{% endif %}
{% if samba_listen != "" %}
   interfaces = {{ samba_listen }}
{% endif %}
   hosts allow = {{ samba_hosts_allow }}
{% if samba_mode != "host" %}
   log file = /dev/stdout
{% endif %}
   include = /etc/samba/usershares.conf

#============================ Share Definitions ==============================

{% if samba_home %}
[homes]
  comment = Home Directories
  valid users = %S, %D%w%S
  browseable = no
  read only = no
  inherit acls = yes
{% endif %}

{% if samba_all_printers %}
[printers]
   comment = All Printers
   path = /var/tmp
   browseable = no
   guest ok = no
   writable = no
   printable = yes

[print$]
  comment = Printer Drivers
  path = /var/lib/samba/drivers
  write list = @printadmin root
  force group = @printadmin
  create mask = 0644
  directory mask = 0775
{% endif %}

{% for share in samba_shares %}
[{{ share.name | lower }}]
   path = {{ share.path }}
{% if share.comment is defined %}
   comment = {{ share.comment }}
{% endif %}
{% if share.browseable is defined %}
   browseable = {{ "yes" if share.browseable else "no" }}
{% endif %}
{% if share.writable is defined %}
   writable = {{ "yes" if share.writable else "no" }}
{% endif %}
{% if share.read_only is defined %}
   read only = {{ "yes" if share.read_only else "no" }}
{% endif %}
{% if share.guest is defined %}
   guest ok = {{ "yes" if share.guest else "no" }}
{% endif %}
{% if share.public is defined %}
   public = {{ "yes" if share.public else "no" }}
{% endif %}
{% if share.force_user is defined %}
   force user = {{ share.force_user }}
{% endif %}
{% if share.force_group is defined %}
   force group = {{ share.force_group }}
{% endif %}
{% if share.create_mask is defined %}
   create mask = {{ share.create_mask }}
{% endif %}
{% if share.dir_mask is defined %}
   directory mask = {{ share.dir_mask }}
{% endif %}

{% endfor %}
