#======================= Global Settings =====================================
# {{ ansible_managed }}

[global]
   workgroup = {{ samba_workgroup }}
   server string = {{ samba_server_string }}
   netbios name = {{ samba_netbios }}
   security = user
   map to guest = Bad User
   guest account = nobody
{% if samba_all_printers %}
   load printers = yes
   cups options = raw
   printing = cups
   printcap name = /etc/printcap
{% endif %}
{% if samba_listen != "" %}
   interfaces = {{ samba_listen }}
{% endif %}
   hosts allow = {{ samba_hosts_allow }}

#============================ Share Definitions ==============================

{% if samba_all_printers %}
[printers]
   comment = All Printers
   path = /var/tmp
   browseable = no
   guest ok = no
   writable = no
   printable = yes
{% endif %}

{% for share in samba_shares %}
[{{ share.name | lower }}]
   path = {{ share.path }}
{% if share.browseable is defined %}
   browseable = {{ "yes" if share.browseable else "no" }}
{% endif %}
{% if share.writable is defined %}
   writable = {{ "yes" if share.writable else "no" }}
{% endif %}
{% if share.read_only is defined %}
   read only = {{ "yes" if share.read_only else "no" }}
{% endif %}
{% if share.guest is defined %}
   guest ok = {{ "yes" if share.guest else "no" }}
{% endif %}
{% if share.force_user is defined %}
   force user = {{ share.force_user }}
{% endif %}

{% endfor %}
